{{define "main"}}
<!DOCTYPE html>
<html>
<head>
	<title>A question</title>
	<script type="text/javascript">
		function newOption(){
			options = document.getElementById("options")
			anOption = document.createElement("li")
			inputForOption = document.createElement("input")
			inputForOption.setAttribute("type", "text")
			inputForOption.setAttribute("name", "option")
			inputForOption.setAttribute("placeholder", "Enter poll option...")
			inputForOption.onfocus = newOption
			anOption.appendChild(inputForOption)
			document.getElementById("lastInput").setAttribute("onfocus", null)
			document.getElementById("lastInput").setAttribute("id", null)
			inputForOption.setAttribute("id", "lastInput")
			options.appendChild(anOption)

		}
	</script>
</head>
<body>
		
		<form action="/newpoll/" method="post" enctype="form-data">
			<input type="text" name="question" placeholder="Type question here, options below.">
			<br/>
			<ul id="options">
				<li>
					<input type="text" name="option" placeholder="Enter poll option...">
				</li>
				<li>
					<input type="text" name="option" placeholder="Enter poll option...">
				</li>
				<li>
		 			<input type="text" name="option" placeholder="Enter poll option..." onfocus="newOption()" id="lastInput">
		 		</li>	
			</ul>
			<button type="submit">Create poll</button>
		</form>
</body>
</html>
{{end}}